# === PostgreSQL ===
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=marketplace
POSTGRES_USER=analyst
POSTGRES_PASSWORD=analyst123

# === Metabase ===
MB_DB_TYPE=postgres
MB_DB_HOST=postgres
MB_DB_PORT=5432
MB_DB_DBNAME=marketplace
MB_DB_USER=analyst
MB_DB_PASS=analyst123

# === API маркетплейса ===
API_URL=http://final-project.simulative.ru/data

# === Read-only пользователь для проверяющего ===
USER_RO_NAME=user_ro
USER_RO_PASSWORD=user_ro_2026!

# === Metabase admin ===
MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=admin123
